<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>添加用户</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">标签名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="labelname" name="labelname" required="" lay-verify="labelname" autocomplete="off" class="layui-input"></div>
                  	</div>
                  	<div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">标签背景色</label>
                        <div class="layui-input-inline">
                            <input type="text" id="labelbgcolor" name="labelbgcolor" required="" lay-verify="labelname" autocomplete="off" class="layui-input" value="#61a6ab30"></div>
                  	</div>
                  	<div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">标签字体颜色</label>
                        <div class="layui-input-inline">
                            <input type="text" id="labelfontcolor" name="labelfontcolor" required="" lay-verify="labelname" autocomplete="off" class="layui-input" value="#fff"></div>
                  	</div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="add" lay-submit="">增加</button></div>
                </form>
            </div>
        </div>

        <script>layui.use(['form', 'layer','jquery'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //监听提交
                form.on('submit(add)',
                function(data) {
                    console.log(data);
    	          	$.post("/admin/api/savebookLabel",data.field,function(result){
    	          		console.log(result)
    	          		if(result.resCode ="000001"){
    	              		layer.msg(result.message, {
    	            			  shade: 0.01,
    	            			  time:1000
    	            		},function(){
    	      					setTimeout(function(){
    	                            xadmin.close();
    	                            xadmin.father_reload();
    	      					},500)
    	            		});
    	          		}else{
    	              		layer.msg(result.message, {
    	            			  icon: "error",
    	            			  shade: 0.01,
    	            			  time:5
    	            			  
    	              		})
    	          		}
    	                
    	            });
    	          	

                    return false;
                });

            });</script>
  
    </body>

</html>