<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>添加书签</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                
                    <div class="layui-form-item">
                        <label  class="layui-form-label"> 书签类型</label>
                        <div class="layui-input-inline">
                            <select id="typename">
                                <font th:each="data,index:${typeList}">
                                <option  th:text="${data.typename}"  th:value="${data.id}" ></option>
                               </font>
                            </select>    
                        </div>
                    </div>
                    
                     <div class="layui-form-item">
                        <label  class="layui-form-label"> 书签标签</label>
						<div class="layui-input-inline">
                            <select id="labelname">
                                <font th:each="data,index:${labelList}">
                                <option  th:text="${data.labelname}"  th:value="${data.id}"></option>
                               </font>
                            </select>    
                        </div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label  class="layui-form-label"> 书签ICON</label>
                        <div class="layui-input-inline">
                            <input type="text" id="iconrul"  autocomplete="off" class="layui-input">
                            <div class="layui-form-mid layui-word-aux">暂时仅支持图床地址</div>
                        </div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label  class="layui-form-label"> 书签名称</label>
                        <div class="layui-input-inline">
                             <input type="text" id="bookmarkname"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label  class="layui-form-label"> 书签URL</label>
                        <div class="layui-input-inline">
                            <input type="text" id="bookmarkurl"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label  class="layui-form-label"> 书签简介</label>
                        <div class="layui-input-inline">
                             <input type="text" id="bookmarkdesc"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    
                  <div class="layui-form-item">
                        <label for="bookmarkrule" class="layui-form-label">书签权限</label>
                        <div class="layui-input-inline">
                            <select id="bookmarkrule">
                                <option value="0">登录可见</option>
                                <option value="1">游客可见</option>
                            </select>    
                        </div>
                    </div>
                    
                    
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="add" lay-submit="">增加</button></div>
                </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer','jquery'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
	

                //监听提交
                form.on('submit(add)',
                function(data) {
                    var option ={
                    		typeid:$('#typename').val(),
                    		typename:$('#typename').find("option:selected").text(),
                    		labelid:$('#labelname').val(),
                    		labelname:$('#labelname').find("option:selected").text(),
                    		iconrul:$('#iconrul').val(),
                    		bookmarkname:$('#bookmarkname').val(),
                    		bookmarkurl:$('#bookmarkurl').val(),
                    		bookmarkdesc:$('#bookmarkdesc').val(),
                    		bookmarkrule:$('#bookmarkrule').val(),
                    		
                    }
    	          	$.post("/admin/api/addBookMark",option,function(result){
    	          		console.log(result)
    	          		if(result.resCode =="000001"){
    	              		layer.msg(result.message, {
    	            			  shade: 0.01,
    	            			  time:3000
    	            		},function(){
    	      					setTimeout(function(){
    	                            xadmin.close();
    	                            xadmin.father_reload();
    	      					},1500)
    	            		});
    	          		}else{
    	              		layer.msg(result.message, {
    	            			  icon: "error",
    	            			  shade: 0.01,
    	            			  time:5
    	            			  
    	              		})
    	          		}
    	                
    	            });
    	          	

                    return false;
                });

            });</script>
  
    </body>

</html>