<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>书签标签</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <style type="text/css">
        	.labelbox{
        		 display: inline-block;
        		 min-width: 76px;
        		 height: 36px; 
        		 line-height: 36px; 
        		 text-align: center; 
        		 background: #0284da; 
        		 color: #fff; 
        		 border-radius: 19px;
        		 cursor: pointer;
        		 text-decoration: none;
        		 margin: 15px;
        	}
        	.labelbox:hover{
        		background-image:linear-gradient(to right,red 0%,red 50%,red 50%,red 100%);
        		background-size:200% 100%;
        		background-position: 100%; 
        		animation:2s delstatus ease-out forwards;
        	}
        	@keyframes delstatus{
        		from{
        			background-position: 100%; 
        		}
        		to{
        			background-position: 0%; 
        		}
        	}
        </style>
    </head>
    <body>
    	   <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                    
                    <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input type="text" id="labelname" name="labelname" placeholder="书签名称" autocomplete="off" class="layui-input"></div>
                                <div class="layui-input-inline layui-show-xs-block">
                                <button type="button" class="layui-btn layui-btn-normal search">搜索</button>
                                <button type="button" class="layui-btn layui-btn-normal initList">重置列表</button>
                                </div>
                            </form>
                        </div>
                    	
                    
                        <div class="layui-card-header">
                            <button class="layui-btn" onclick="xadmin.open('添加新标签','./addBookLabel',600,300)"><i class="layui-icon"></i>添加</button>
                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main">
							<table class="layui-hide" id="projectList" lay-filter="projectList"></table>
                        </div>
                        <div class="layui-card-body ">
                            <div class="page" id="page">
         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <div class="updateData" style="display: none;padding: 20px;">
	    <input class="optionid" type="hidden">
	    <div class="layui-inline">
	          <label class="layui-form-label">标签名称</label>
	          <div class="layui-input-inline">
	            <input  type="text" name="loginnamedata"  autocomplete="off" class="labelname layui-input">
	          </div>
	    </div>
	    <div class="layui-inline">
	      <label class="layui-form-label">标签背景色</label>
	      <div class="layui-input-inline">
	        <input  type="text" name="loginnamedata"  autocomplete="off" class="labelbgcolor layui-input">
	      </div>
	    </div>
	    <div class="layui-inline">
	      <label class="layui-form-label">标签字体颜色</label>
	      <div class="layui-input-inline">
	        <input  type="text" name="loginnamedata"  autocomplete="off" class="labelfontcolor layui-input">
	      </div>
	    </div>
	    <div class="buttondiv" style=" padding-left: 5%; padding-top: 5%; "><button type="button" class="layui-btn">保存信息</button></div>
	</div>
    
    <script type="text/html" th:inline="none" id="barLineTool">
 		<a class="layui-btn layui-btn-xs editData" lay-event="edit">编辑</a>
  		<a class="layui-btn layui-btn-danger layui-btn-xs delData" lay-event="del">删除</a>
	</script>  
    <script  th:inline="none">
	    var table;
	    $(function(){
	   	 initLayer();
	   	 loadTable();
	   	 search();
	   	 initList();
	   	updateData();
	    })
	    
	    function updateData(){
			$('.buttondiv button').click(function(){
				var option ={};
				option['id'] = $('.optionid').val();
				option['labelname'] = $('.labelname').val();
				option['labelbgcolor'] = $('.labelbgcolor').val();
				option['labelfontcolor'] = $('.labelfontcolor').val();
				layer.load();
				$.post("/admin/api/savebookLabel",option,function(data,status){
					console.log(data);
					if(data.resCode =="000001"){
						layer.closeAll();
						layer.alert(data.message,function(){
							 window.location.reload();
						})
					}else{
						layer.closeAll();
						layer.alert(data.data);
					}
				})
			})
		}
	    function initList(){
	   	 $('.initList').click(function(){
	   	     window.location.reload();
	   	 })
	    }
	    function initLayer(){
	   	 layui.use(['laydate','form'], function(){
	            var laydate = layui.laydate;
	            var  form = layui.form;
	
	            form.on('submit(add)',
	                    function(data) {
	                        console.log(data);
	        	           return false;
	          			 });
	
	
	          });
	
	    }
    	 function search(){
    		$('.search').click(function(){
    			 var option = {}
    			 var  typename = $('#labelname').val();
    			 if(typename != "" && labelname != "-1"){
    				 option['labelname']= labelname;
    			 }
    			 console.log(option);
    	         table.reload('projectList', {
    	             page: {
    	                 curr:1
    	             }, 
    	 			 method:'post',
    	 			 url: '/admin/api/findbookLabel',
    	             where: option
    	         })
    		})
     }
     function loadTable(){
    		layui.use('table', function(){
    			  table = layui.table;
    			  table.render({
    				id:'projectList',
    				elem: '#projectList',
    				height: 700,
    				method:'post',
    				url: '/admin/api/findbookLabel',
    				limit:15,
    				request: {
    				     pageName: 'pageNo',
    				     limitName: 'pageSize'
    				},
    				page: { 
    			        layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
    			        limits:[15,30,45],
    			        first: false,
    			        last: false,
    			     },
    			     cols: [[ 
    			    	 {field: 'id', title: 'ID', width:80},
    			    	 {field: 'labelname', title: '标签名称', width:180},
    			    	 {field: 'labelbgcolor', title: '标签背景色', width:180},
    			    	 {field: 'labelfontcolor', title: '标签字体颜色', width:180},
    			    	 {field: 'createtime', title: '创建时间', width:180},
    			    	 {fixed: 'right', title:'操作',  minWidth: 180, toolbar: '#barLineTool'}
    			     ]],
    			     title: '标签表'	,
    			     parseData:function(res){
    			    	 console.log(res);
    			    	 return {
    			             "code": 0, //解析接口状态
    			             "msg": "", //解析提示文本
    			             "count": res.record.totalElements, //解析数据长度
    			             "data": res.record.content
    			         };
    			     }
    			  });
    			  
    			  
    			  //监听行工具事件
    			  table.on('tool(projectList)', function(obj){
    			    var data = obj.data;
    			    console.log(obj)
    			    if(obj.event === 'del'){
    			      layer.confirm('要删除'+obj.data.labelname+"书签吗", function(index){
    			        //调用接口删除
    			        var id =obj.data.id;
    			        $.get("/admin/api/delbookLabel?id="+id,function(res){
    			        	if(res.resCode =="000001"){
    			        		layer.msg(res.message,function(){
    			        			 window.location.reload();
    			        		})
    			        	}else{
    			        		layer.alert(res.message);
    			        	}
    			        })
    			        layer.close(index);
    			      });
    			    }
    			   	if(obj.event === 'edit'){
    			   		$('.optionid').val(obj.data.id);
    			   		$('.labelname').val(obj.data.labelname);
    			   		$('.labelbgcolor').val(obj.data.labelbgcolor);
    			   		$('.labelfontcolor').val(obj.data.labelfontcolor);
    			   		layer.open({
    			   		  type: 1,
    			   		  skin: 'layui-layer-rim', 
    			   		  area: ['520px', '440px'], 
    			   		  content: $('.updateData')
    			   		});
    			    }
    			  });
    			  
    			  
    			});
    	}
    	
    	
    </script>
</html>