<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>未开放</title>
</head>
<body>
    <div style=" display: inline-block; width: 100%; text-align: center; margin-top: 25%; ">未对外开放</div><br>
   	<div style=" display: inline-block; width: 100%; text-align: center; margin-top: 28%; " th:if="${session.user_login_session == null}" class="login" onclick="window.open('/admin/login','_self')">去登录</div>
</body>
</html>